* {
	font-family:Helvetica;
}
body{
	margin: 0px;
	padding: 0px;

}
a{
	text-decoration: none;
	font-family: helvetica;
	color:#ACACAC;
}
a:hover {
	color:white;
}
h1, h2{
	padding:0px;
	margin: 0px;
}

#head{
	background-color: #3A3A3A;
}

#foot{
	background-color: #999;
	bottom: 0;

}
#wrapper{
	height: 100%;
	margin:auto 0px;
	padding: 0px 0px 1000px 0px;
	background-color: rgba(9,9,9,0.65);
}
#foot ul li a {
	color:white;
}
#mainLogo img {
	padding-left:10px;
	padding-top:20px;
}

#content{

}
.topnavlist{
	margin: 0px auto;
	list-style-type: none;
	text-align: right;
	padding-right: 100px;
	padding-bottom: 5px;
	
}
.footnavlist{
	margin: 0px auto;
	list-style-type: none;
	text-align: center;

}
.topnavlist li{
	display: inline;
	font-color:#ACACAC;
}
.footnavlist li {
	display: inline;

}	

.main_header_anchor, .main_footer_anchor{
	display: inline-block;
	padding-right: 10px;

}

.sticky{
	//position: static;
	z-index: 5000;
	left: 0;
	top:0;
}

