
#navitems ul li {
	display:inline-block;
	color:black; 
	position:relative;
	bottom:30px;
}
#navitems li {
	padding:3px;
}
#navitems {
	font:bold 13px helvetica;
	background-color:#CDCDCD;
	border-radius: 0px;
	padding-top:3px;
	padding-bottom:3px;
	position:relative;
	height:82px;
	top:10px;

}
footer ul li a:hover,div a:hover{
	text-decoration: none;
	color:grey;
}
h1 {
	position:relative;

}
h1,h2,p {
	text-decoration:none;
	padding:10px;
	margin:0px;
	font:bold 20px helvetica;
}
h2 {
	font:bold 16px helvetica;
	position:relative;
	top:-12px;
}

p {
	color:black;
	border:2px solid grey;
	float:left;
	padding:10px;
	font:14px helvetica;
	position:relative;
	top:3px;
	margin-left: 10px;
}

footer ul  {
	color:white;
	text-decoration: none;

}


footer {
	position:relative;
	top: 30px;
	clear:both;
	background-color:#CDCDCD;
	border-radius: 0px;
}
footer li {
	padding: 6px;
	display:inline;
	font: 14px bold helvetica;
}
#main_header_anchor a {
	text-decoration: none;
}
#main_footer_anchor a {
	text-decoration: none;
	font-family:helvetica
}
body {
	margin: 0px;
}
#main_header_logo {
	padding:0px;
	position:relative;
	top:-5px;
	
}

